#navBar{
    display: flex;
    flex-direction: column;
    width: 10%;
    height: 100vh;
    border-right: 1px solid var(--colorD);
    padding: 2vh;
}

#navBartop{
    flex: 8;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    align-items: center;
}

#navBartop a{
    text-decoration: none;
    color: var(--colorD);
    font-size: 1.5em;
}
#navBartop img{
    width: 100%;
    height: 100%;
    padding: 1vh;
}

#navBarBottom{
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    background-color: color;
}