<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    {% include 'partials/_bootstraps.html.twig' %}
</head>
<body>
    <h1>azeaze</h1>
</body>
</html>
