<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'partials/_bootstraps.html.twig' %}
    <link rel="stylesheet" href="css/post.css">
    <script src="../javascript/post/main.js" defer type="module"></script>
</head>
<body>
    <div id="pageContainer">     
        {% include 'partials/_navbar.html.twig' %}
        <div id="content">
            <h2> Create a new Post </h2>
            <h3> Select a game </h3>
            <div id="gameSelector">
                {% for game in games %}
                    <div class="game" id="{{ game.ID }}">
                        <img src="data:image/jpeg;base64,{{ game.IMG }}" alt="{{ game.NAME }}">
                        <p>{{ game.NAME }}</p>
                    </div>
                {% endfor %}
            </div>
            <h3> Select a server </h3>
            <div id="serverSelector">
                <p id="preSelectText"> Select a game to see the servers </p>
            </div>
            <h3> Write your post </h3>
            <textarea id="post" placeholder="Write your post here" class="form-control"> </textarea>
            <h3> Add images </h3>
            <div id="imagesContainer">
            </div>
                <div class="btn btn-primary" id="addImage"> Add Image </div>
                <input type="file" id="imageInput" class="d-none" multiple enctype="multipart/form-data">

            <div id="errorDiv" class="alert alert-danger d-none" role="alert">
                <p id="errorText"></p>
            </div>

            <div id="postContainer">
                <div id="submitBtn" class="btn btn-primary">Post</div>
            </div>
        </div>
    </div>
</body>
</html>
