<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'partials/_bootstraps.html.twig' %}
    <link rel="stylesheet" href="css/post.css">
    <script src="javascript/index/main.js" defer type="module"></script>
</head>
<body>
    <div id="pageContainer">     
        {% include 'partials/_navbar.html.twig' %}
        <div id="content">
            <h2> Discord Bots </h2>
        </div>
    </div>
</body>
</html>
